* {
    margin: 0;
    padding:0;
    font-family: "Permanent Marker";
}
html, body{
    width: auto;
}

/* Header*/

header{
    padding: 10px;
    text-align: center;
    background: #000;
    color: #fff;
}
h1{
    display: inline-block;
    font-size: 50px;
    margin-right: 100px;
}

/*Nav Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    display: inline-flex;
    width: 100%;
    justify-content: center;
  }

li a {
    display: inline;
    padding: 10px;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin: 0px 10px;
    font-size: 20px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #68696b;
  }
  .active {
    background-color: #fff;
    color: #000;
  }
      
/*Body*/
body{
    background-image:url('/Resources/wp9060319-4k-desktop-smoke-wallpapers.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Display */
.row{
    display:flex;
    flex-direction: row;
    margin-left: 250px;
    margin-right: 300px;
}
.column{
    margin: 8px;
    flex: 1;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  /* Footer */
  footer{
    padding: 5px;
    background-color: #000;
    color: #fff;
    margin-top: 180px;
  }
  
  